.launcher {
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    .list {
        display: flex;
        flex: 2;
        padding: 0 10px 0 0;
        max-height: 100%;
        overflow: hidden;
        &.before {
            // border-right: solid 2px #000;
        }
        &.after {
            // border-left: solid 2px #000;
        }
    }
    .tabpanel {
        flex: 9;
        padding: 0;
        overflow: hidden;
    }
}