.option-container {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    font-family: Roboto, sans-serif;

    .option-panel {
        position: absolute;
        min-height: 240px;
        width: 480px;
        z-index: 1001;
        border : 1px solid #e6e6e6;

        .option-title {
            height: 30px;
            line-height: 30px;
            box-sizing: border-box;
            padding: 0 16px;
            font-size: 18px;
            border-bottom : 1px solid #e6e6e6;
        }

        .option-content {
            .option-toggle {
                padding: 0 10px;
            }
        }
    }


}